.contentText {
    width: 30vw;
    height: 30vh;
    color: $color-tertiary;
    @include flex($align: flex-start);
    gap: 3vh;
    flex-direction: column;

    &-text {
        @include subtitle;
        transform: translateY(-20px);
        @include invisible;
    }

    &-title {
        @include title;
        @include invisible;
        letter-spacing: 30px,
    }

    &-paragraph {
        font-family: $font-subtitle;
        font-style: normal;
        font-weight: 400;
        font-size: 1.2vw;
        margin: 1vh 0px;
        transform: translateY(-20px);
        @include invisible;
    }

    &-link {
        font-family: $font-subtitle;
        font-style: normal;
        font-weight: 400;
        font-size: 1vw;
        line-height: 17px;
        letter-spacing: 0.1em;
        color: $color-tertiary;
    }
}