.button-nav {
  opacity: 0;
  border: 1px solid $color-tertiary;
  width: 35px;
  height: 35px;
  border-radius: 30px;
  position: relative;
  top: -20px;

  &-bar {
    width: 22px;
    height: 7px;
    border-top: 1px solid $color-tertiary;
    border-bottom: 1px solid $color-tertiary;
  }
}

.button-play {
  width: 56px;
  height: 56px;
  background: $color-secondary;
  border-radius: 50px;
  cursor: pointer;
  transition: transform 0.3s ease;

  &-icon {
    color: $color-tertiary;
    font-size: 20px;
  }
}