.loading-background {
  @include screenFull;
  background: $color-primary;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  @include flex;
  flex-direction: column;
  gap: 134px;

  &-dark {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: $color-primary;
    -webkit-filter: brightness(50%);
    filter: brightness(50%);
    opacity: 0;
    z-index: 10;
  }
}

.homePageSections {
  width: 700vw;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;

  &-img-bg {
    @include screenFull($widthSize: 100vw);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    -o-object-fit: cover;
    object-fit: cover;

    &-first {
      opacity: 1;
      visibility: visible;
    }

    &-second,
    &-third {
      opacity: 0;
      visibility: hidden;
    }
  }
}

.section {
  @include screenFull($widthSize: 100vw);
  @include flex;
}

.home {
  &-content {
    color: $color-tertiary;

    &-text {
      @include subtitle;
    }

    &-title {
      @include title;
    }
  }
}

.wines {
  position: relative;

  &-img {
    position: absolute;

    &-trunk {
      top: 10%;
      left: -7%;
      z-index: 12;
      height: 100%;
      opacity: 0;
      visibility: hidden;
    }

    &-leaf {
      top: -10%;
      left: -5%;
      z-index: 12;
      height: 40%;
      opacity: 0;
      visibility: hidden;
    }

    &-bottle {
      position: absolute;
      top: -10vh;
      left: 6vw;
      height: 900px;
      opacity: 0;
      visibility: hidden;
    }
  }

  &-content {
    position: absolute;
    top: 35vh;
    left: 20vw;
    z-index: 12;
  }

  &-bottle {
    position: relative;
    left: 10vw;
    top: -15vh;

    &-content {
      @include flex;
      position: relative;
    }

    &-button {
      position: absolute;
      z-index: 20;
      left: 200px;
      opacity: 0;
      visibility: hidden;
    }


    &-line {
      position: absolute;
      z-index: 20;
      right: -13vw;
      width: 0px;
    }
  }
}

.quote {
  width: 100vw;
  position: relative;

  &-title {
    @include title;
    color: $color-tertiary
  }

  &-first,
  &-second {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    visibility: hidden;
    overflow: visible;
    white-space: nowrap;
  }

  &-body {
    @include flex;
    gap: 200px;
  }

  &-bg-img {
    width: 100vw;
    height: 100vh;
    opacity: 0;
    visibility: hidden;
    transform-origin: center center;
  }

  &-carrousel-img {
    position: relative;
    top: -10vh;
    opacity: 0;
    visibility: hidden;
    width: 40%;
  }
}

.local {
  width: 100vw;
  position: relative;

  &-body {
    @include flex($align: flex-start);
    gap: 300px;
  }

  &-content {
    margin-right: 100px
  }

  &-buttonLine {
    @include flex;
    flex-direction: column-reverse;
    gap: 100px;
    margin-top: 50px;
    opacity: 0;
    visibility: hidden;
  }

  &-button {

    z-index: 20;
  }

  &-line {
    transform: rotate(90deg);
  }
}